{% extends 'main/index.html.twig' %}

{% block title %}Hello StageController!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/accueil.css')}}">
{% endblock %}

{% block body %}

<h1>Stage</h1>

<main>
<section>
   
   
   <div class="super-container-projets">
    {% for article in articles %}
  
    <div class="container-projets-stage">
        <img src="{{asset('uploads/images/annonces/' ~ article.images[0].name)}}" alt="" width="200" height="200">
        <div class="container-infos-projets-stage">
            <h3>{{article.title}}</h3>
            {{article.description|raw}}
            <a class="bouton-lien" href="{{path('article', {slug: article.slug})}} ">Lire l'article</a>
        </div>
    </div>
 

    {% endfor %}
    </div>
</section>
        </main>

{% endblock %}
